@import url('../../../theme/colors.css');
@import url('../../../theme/typography.css');

/* Base styling. */
body {
	margin: 0;

	font-family: Jost, sans-serif;
	font-size: var(--base-font-size);
	color: var(--foreground);

	background-color: var(--background);
}

* {
	/* Standardize the box-sizing for all elements. */
	box-sizing: border-box;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	width: 100vw;
	height: 100vh;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100vh;
}

/* Styling for vertical aspect ratios - applies only to digital. */
@media screen and (max-aspect-ratio: 1/1) {
	.content {
		width: 100vw;
		padding: 2vw;
	}
}

/* Styling for horizontal aspect ratios - applies only to digital */
@media screen and (min-aspect-ratio: 1/1) {
	.content {
		width: 80vw;
	}
}

/* Printer-friendly stylings for the print mode. */
@media print {
	body {
		margin: 0;
		color: var(--background-print);
		background-color: var(--foreground-print);
	}

	/* Assuming the print will be on a vertical sheet of A4 paper. */
	.content {
		width: 100vw;
	}
}
