@import url('@theme');

.title {
	width: min-content;
	margin: 0;

	font-size: 3rem;
	font-weight: 900;
	line-height: 3rem;
	text-transform: uppercase;
	white-space: pre-line;

	background: var(--theme-gradient);
	background-clip: text;

	-webkit-text-fill-color: transparent;
}

/* Make the title a little smaller for the print version. */
@media print {
	.title {
		font-size: 2rem;

		-webkit-text-fill-color: var(--foreground);
	}
}
