/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable order/properties-order */
@import url('../../../theme/colors.css');

.title {
	display: inline-block;

	width: min-content;
	margin: 0;

	font-weight: 900;
	font-size: 3rem;
	line-height: 3rem;
	white-space: pre-line;
	text-transform: uppercase;

	background: var(--theme-gradient);
	background-clip: text;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Make the title a little smaller for the print version. */
@media print {
	.title {
		font-size: 2rem;

		-webkit-text-fill-color: var(--foreground);
	}
}
