.title {
	/** Font sizing */
	font-weight: 900;
	font-size: 5rem;

	/** Keeps the spacing between lines much smaller than default. */
	line-height: 5rem;

	/** Sets the with to the shortest word in the title. Breaks line after each word. */
	white-space: pre-line;
	width: min-content;
}
