.social {
	/* Add nicely aligned display. */
	display: flex;
	flex-direction: row;
	gap: 1vw;
	align-items: center;
	justify-content: start;

	font-size: 1rem;
	color: inherit;

	/* Remove the default link styling. */
	text-decoration: none;
}
