.social {
	display: flex; /* Add nicely aligned display. */
	flex-direction: row;
	gap: 1vw;
	align-items: center;
	justify-content: start;

	color: inherit;
	font-size: 1rem;

	text-decoration: none; /* Remove the default link styling. */
}
