name: Production Deployment

on:
  push:
    tags:
      - "*"

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Setup BEAM
        uses: erlef/setup-beam@v1.20.4
        with:
          otp-version: "28"
          gleam-version: "1.13.0"
          rebar3-version: "3"

      - name: Download dependencies
        run: gleam deps download

      - name: Build the project
        run: gleam run -m build

      - name: File Sanity Check
        run: ls build

      - name: Upload FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: "dist/"
          server-dir: "www/"
