.header {
	/* Nice flex display to align the contents of the header. */
	display: flex;
	flex-flow: row wrap;
	gap: 2vw;
	align-items: center;
	justify-content: space-around;

	width: 100%;

	/* Get fixed height for the Header. */
	height: min-content;
	padding: 2vh;

	border-bottom: 1px black solid;
}

.socials {
	/* Sets up the grid with at least two columns. */
	display: grid;
	grid-template-columns: 2fr 2fr;

	/* Sizes the socials bounding box to occupy the empty space in the header. */
	flex-grow: 2;
	justify-items: center;

	min-width: max-content;

	/* Gives the socials more padding. */
	padding: 0 2vw;
}

/* Bundling title and profile photo together for more consistent look. */
.intro {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}
